<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChainedNSMutableAttributedString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E7764E81D503B1A00FC63FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7765011D503B1A00FC63FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E77650C1D503B1A00FC63FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
